# All files not owned by other teams must be reviewed by the core team
*                                               @vikrai/core
package.json                                    @vikrai/engineering
yarn.lock                                       @vikrai/engineering
/.changeset/                                    @vikrai/engineering
/packages/                                      @vikrai/engineering
/integration-tests/                             @vikrai/engineering
/docs-util/                                     @vikrai/docs
/www/                                           @vikrai/docs
/packages/design-system/                        @vikrai/ui
